TELEGRAM_TOKEN=

# Bitcointalk
BITCOINTALK_LIMIT=60
BITCOINTALK_URL=https://bitcointalk.org/index.php?board=159.0
BITCOINTALK_INTERVAL=60

# DB
DATABASE_TYPE=file
# DB_FILE
DATABASE_FILE_URL=https://raw.githubusercontent.com/uerax/all-in-one-bot/refs/heads/lite/data

# Polymarket
POLYMARKET_TIMEOUT=10
POLYMARKET_DEFAULT_LIMIT=10
POLYMARKET_ADDRESS=
POLYMARKET_API_KEY=
POLYMARKET_API_SECRET=
POLYMARKET_API_PASSPHRASE=